.scroll-top span {
    position: fixed;
    bottom: 40px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    right: 40px;
    font-size: 44px !important;
    padding: 7px;
    background-color: #222;
    border-radius: 50%;
    box-shadow: 1px 0 6px #cbcaca;
    transition: all .3s;
    z-index: 88;
    cursor: pointer;
}

.scroll-top span svg {
    font-size: 20px;
    color: #fff;
}

.scroll-top span:hover {
    background-color: #c7ab62;
}

.scroll-top span:hover svg {
    color: #222;
}

/*====================================*/
/*===========Responsive===============*/
/*====================================*/

@media only screen and (max-width: 480px) {

    .scroll-top span {
        bottom: 60px;
        right: 15px;
    }

}