.not-found {
    margin-top: 100px;
}

.not-found .topmenu {
    display: none !important;
}

.not-found .not-found-box {
    width: 80%;
    margin: 50px auto 120px;
    text-align: center;
}

.not-found .not-found-box h1 {
    font-size: 140px;
    font-weight: 700;
}

.not-found .not-found-box h4 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}